@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
}

@font-face {
  font-family: 'ZenKakuGo-Regular';
  src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular') format('truetype');
}

@font-face {
  font-family: 'ZenKakuGo-Medium';
  src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Medium') format('truetype');
}

@font-face {
  font-family: 'ZenKakuGo-Bold';
  src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold') format('truetype');
}

@font-face {
  font-family: 'ZenKakuGo-light';
  src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Light') format('truetype');
}

@font-face {
  font-family: 'ZenKakuGo-Black';
  src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Black') format('truetype');
}
